body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(39, 11, 37) 3%, rgb(18, 34, 50) 38%, rgb(12, 33, 32) 68%, rgb(84, 23, 23) 98%);
  animation: gradient 2 ease infinite;
  background-attachment: fixed;
  height: 100vh;
}
